USE [ChatApp]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](320) NOT NULL,
	[Password] [char](32) NOT NULL,
	[AccountType] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL DEFAULT (1),
	[IsOnline] [bit] NULL,
	[LastSeen] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Profile]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[UserID] [bigint] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](2048) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [varchar](10) NULL,
	[Email] [varchar](320) NULL,
	[Gender] [int] NULL,
	[Bio] [nvarchar](500) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [CK_Profile_EmailOrPhone] CHECK  (([Email] IS NOT NULL AND [Phone] IS NULL OR [Email] IS NULL AND [Phone] IS NOT NULL OR [Email] IS NOT NULL AND [Phone] IS NOT NULL))
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [CK_Profile_EmailOrPhone]
GO

/****** Object:  Table [dbo].[Chat]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL DEFAULT (1) CHECK ([Type] IN (1, 2)), -- 1: Private, 2: Group
	[Title] [nvarchar](100) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getutcdate()),
	[UpdatedBy] [bigint] NULL,
	[UpdatedByName] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChatParticipant]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipant](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Role] [tinyint] NOT NULL DEFAULT (1), -- 1: Member, 2: Admin
	[JoinedAt] [datetime] NULL
 CONSTRAINT [PK_ChatParticipant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Message]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[SenderID] [bigint] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageType] [tinyint] NOT NULL DEFAULT (1), -- 1:text, 2:image, 3:video, 4:voice, 5:document, 6:location, 7:poll, 8:sticker
	[CreatedAt] [datetime] NULL DEFAULT (getutcdate()),
	[IsEdited] [bit] NULL DEFAULT (0),
	[EditedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL DEFAULT (0),
	[DeletedAt] [datetime] NULL,
	[ReadBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Reaction]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaction](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Emoji] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getutcdate()),
 CONSTRAINT [PK_Reaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Friend]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[FriendID] [bigint] NOT NULL,
	[Status] [tinyint] NOT NULL DEFAULT (1), -- 1: Pending, 2: Accepted, 3: Rejected, 4: Blocked
	[AddedAt] [datetime] NULL,
 CONSTRAINT [PK_Friend] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Attachment]    Script Date: 8/8/2025 8:46:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageID] [bigint] NOT NULL,
	[FileUrl] [nvarchar](2048) NOT NULL,
	[ThumbUrl] [nvarchar](2048) NULL,
	[FileType] [tinyint] NOT NULL, -- 1:image, 2:video, 3:document, 4:audio
	[FileSize] [bigint] NULL,
	[FileName] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


CREATE PROCEDURE [dbo].[SP_Account_Update]
    @UserID BIGINT,
    @IsActive BIT,
    @IsOnline BIT,
    @LastSeen DATETIME,
    @ResponseStatus INT OUTPUT
AS
BEGIN

	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Account]
		SET [IsActive] = @IsActive,
			[IsOnline] = @IsOnline,
			[LastSeen] = @LastSeen
		WHERE [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Account_ResetPassword]
    @UserID BIGINT,
    @Password NVARCHAR(32),
    @ResponseStatus INT OUTPUT
AS
BEGIN

	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Account]
		SET [Password] = @Password
		WHERE [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_ChatParticipant_GetListByChatID]
    @ChatID BIGINT
AS
BEGIN
	SELECT c.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [FullName],
		p.[Avatar] AS [Avatar]
	FROM 
	[dbo].[ChatParticipant] c
	INNER JOIN [dbo].[Profile] p ON c.[UserID] = p.[UserID] 
	WHERE c.[ChatID] = @ChatID
END

CREATE PROCEDURE [dbo].[SP_ChatParticipant_Create]
    @ChatID BIGINT,
    @UserID BIGINT,
    @Role TINYINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		INSERT INTO [dbo].[ChatParticipant] ([ChatID], [UserID], [Role], [JoinedAt])
		VALUES (@ChatID, @UserID, @Role, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END


CREATE PROCEDURE [dbo].[SP_ChatParticipant_Remove]
    @ChatID BIGINT,
    @UserID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		IF NOT EXISTS (SELECT 1 FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END
		
		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_ChatParticipant_DeleteByChatID]
    @ChatID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Chat_GetListByUserID]
    @UserID BIGINT
AS
BEGIN
	SELECT c.* FROM [dbo].[Chat]  c
	INNER JOIN [dbo].[ChatParticipant] cp ON c.[ID] = cp.[ChatID] 
	WHERE cp.[UserID] = @UserID
END

CREATE PROCEDURE [dbo].[SP_Chat_Create]
    @Type TINYINT,
    @Title NVARCHAR(100),
    @CreatedBy BIGINT,
	@CreatedByName NVARCHAR(100),
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		INSERT INTO [dbo].[Chat] ([Type], [Title], [CreatedBy], [CreatedByName], [CreatedAt])
		VALUES (@Type, @Title, @CreatedBy, @CreatedByName, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Chat_Update]
    @ID BIGINT,
    @Type TINYINT,
    @Title NVARCHAR(100),
    @UpdatedBy BIGINT,
	@UpdatedByName NVARCHAR(100),
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		UPDATE [dbo].[Chat]
		SET [Type] = @Type,
			[Title] = @Title,
			[UpdatedBy] = @UpdatedBy,
			[UpdatedByName] = @UpdatedByName,
			[UpdatedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END


CREATE PROCEDURE [dbo].[SP_Chat_Leave]
    @ChatID BIGINT,
    @UserID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Chat_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Chat] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END
		BEGIN TRANSACTION
			DELETE FROM [dbo].[Reaction] WHERE [MessageID] IN (SELECT [ID] FROM [dbo].[Message] WHERE [ChatID] = @ID)
			DELETE FROM [dbo].[Message] WHERE [ChatID] = @ID
			DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ID
			DELETE FROM [dbo].[Chat] WHERE [ID] = @ID
		COMMIT TRANSACTION
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Friend_GetListByUserID]
    @UserID BIGINT
AS
BEGIN
	SELECT 
		f.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [FriendName],
		p.[Avatar] AS [FriendAvatar]
	FROM 
	[dbo].[Friend] f
	INNER JOIN [dbo].[Profile] p ON f.[FriendID] = p.[UserID] 
	WHERE f.[UserID] = @UserID
END

CREATE PROCEDURE [dbo].[SP_Friend_Add]
    @UserID BIGINT,
    @FriendID BIGINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		INSERT INTO [dbo].[Friend] ([UserID], [FriendID], [Status], [AddedAt])
		VALUES (@UserID, @FriendID, 1, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Friend_Accept]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @FriendName NVARCHAR(100)
			
			SELECT @FriendName = CONCAT([FirstName], ' ', [LastName]) FROM [dbo].[Profile] WHERE [UserID] = @FriendID

			IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
			BEGIN
				SET @ResponseStatus = -1
				RETURN
			END

			UPDATE [dbo].[Friend]
			SET [Status] = 2,
				[UpdatedBy] = @UserID,
				[UpdatedByName] = @Username,
				[UpdatedAt] = GETUTCDATE()
			WHERE [UserID] = @FriendID AND [FriendID] = @UserID

			SET @ID = SCOPE_IDENTITY()
			
			INSERT INTO [dbo].[Chat] ([Type], [Title], [CreatedBy], [CreatedByName], [CreatedAt])
			VALUES (2, @FriendName, @FriendID, @Username, GETUTCDATE())

			DECLARE @ChatID BIGINT
			SET @ChatID = SCOPE_IDENTITY()

			INSERT INTO [dbo].[ChatParticipant] ([ChatID], [UserID], [Role], [JoinedAt])
			VALUES (@ChatID, @FriendID, 2, GETUTCDATE())

			INSERT INTO [dbo].[ChatParticipant] ([ChatID], [UserID], [Role], [JoinedAt])
			VALUES (@ChatID, @UserID, 2, GETUTCDATE())

			SET @ResponseStatus = 1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Friend_Reject]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendRejectStatus INT = 3
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
		SET [Status] = @FriendRejectStatus,
			[UpdatedBy] = @UserID,
			[UpdatedByName] = @Username,
			[UpdatedAt] = GETUTCDATE()
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Friend_Block]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendBlockStatus INT = 4
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
		SET [Status] = @FriendBlockStatus,
			[UpdatedBy] = @UserID,
			[UpdatedByName] = @Username,
			[UpdatedAt] = GETUTCDATE()
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Friend_Unblock]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendUnblockStatus INT = 1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
		SET [Status] = @FriendUnblockStatus,
			[UpdatedBy] = @UserID,
			[UpdatedByName] = @Username,
			[UpdatedAt] = GETUTCDATE()
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END


CREATE PROCEDURE [dbo].[SP_Friend_Delete]
    @UserID BIGINT,
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @FriendID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		BEGIN TRANSACTION
			DECLARE @ChatID BIGINT
			SELECT @ChatID = [ID] FROM [dbo].[Chat] WHERE [UserID] = @FriendID AND [FriendID] = @FriendID AND [Type] = 2

			IF @ChatID IS NOT NULL
			BEGIN
				ROLLBACK TRANSACTION
				SET @ResponseStatus = -1
				RETURN
			END

			DELETE FROM [dbo].[Reaction] WHERE [MessageID] IN (SELECT [ID] FROM [dbo].[Message] WHERE [ChatID] = @ChatID)
			DELETE FROM [dbo].[Message] WHERE [ChatID] = @ChatID
			DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID
			DELETE FROM [dbo].[Chat] WHERE [ID] = @ChatID
			DELETE FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @FriendID
		COMMIT TRANSACTION

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Message_GetListByChatID]
    @ChatID BIGINT,
	@Page INT,
	@PageSize INT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 

		DECLARE @Offset INT = (@Page - 1) * @PageSize
		SELECT 
			m.*,
			CONCAT(p.[FirstName], ' ', p.[LastName]) AS [SenderName],
			p.[Avatar] AS [SenderAvatar]
		FROM 
		[dbo].[Message] m 
		INNER JOIN [dbo].[Profile] p ON m.[SenderID] = p.[UserID] 
		WHERE m.[ChatID] = @ChatID
		ORDER BY m.[CreatedAt] ASC
		OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Message_Create]
    @ChatID BIGINT,
    @SenderID BIGINT,
    @Content NVARCHAR(MAX),
    @MessageType TINYINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 

		INSERT INTO [dbo].[Message] ([ChatID], [SenderID], [Content], [MessageType], [CreatedAt])
		VALUES (@ChatID, @SenderID, @Content, @MessageType, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Message_Update]
    @ID BIGINT,
    @Content NVARCHAR(MAX),
    @MessageType TINYINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Message] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Message]
		SET [Content] = @Content,
			[MessageType] = @MessageType,
			[IsEdited] = 1,
			[EditedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Message_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Message] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Message]
		SET
			[IsDeleted] = 1,
			[DeletedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END


CREATE PROCEDURE [dbo].[SP_Reaction_GetListByMessageID]
    @MessageID BIGINT
AS
BEGIN
	SELECT 
		r.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [SenderName],
		p.[Avatar] AS [SenderAvatar]
	FROM 
	[dbo].[Reaction] r
	INNER JOIN [dbo].[Profile] p ON r.[SenderID] = p.[UserID] 
	WHERE r.[MessageID] = @MessageID
	ORDER BY r.[CreatedAt] ASC
END

CREATE PROCEDURE [dbo].[SP_Reaction_Create]
    @MessageID BIGINT,
    @SenderID BIGINT,
    @Emoji NVARCHAR(10),
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		INSERT INTO [dbo].[Reaction] ([MessageID], [SenderID], [Emoji], [CreatedAt])
		VALUES (@MessageID, @SenderID, @Emoji, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Reaction_Update]
    @ID BIGINT,
    @SenderID BIGINT,
    @Emoji NVARCHAR(10),
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Reaction]
			SET [Emoji] = @Emoji
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Reaction_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		DELETE FROM [dbo].[Reaction] WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END

CREATE PROCEDURE [dbo].[SP_Reaction_DeleteByMessageID]
    @MessageID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @ReactionNotExists INT = -1
		DECLARE @ReactionDeleteSuccess INT = 1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [MessageID] = @MessageID)
		BEGIN
			SET @ResponseStatus = @ReactionNotExists
			RETURN
		END

		DELETE FROM [dbo].[Reaction] WHERE [MessageID] = @MessageID

		SET @ResponseStatus = @ReactionDeleteSuccess
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
