USE [ChatApp]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](320) NOT NULL,
	[Password] [char](32) NOT NULL,
	[AccountType] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsOnline] [bit] NULL,
	[LastSeen] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageID] [bigint] NOT NULL,
	[FileUrl] [nvarchar](2048) NOT NULL,
	[ThumbUrl] [nvarchar](2048) NULL,
	[FileType] [tinyint] NOT NULL,
	[FileSize] [bigint] NULL,
	[FileName] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedByName] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatParticipant]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatParticipant](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Role] [tinyint] NOT NULL,
	[JoinedAt] [datetime] NULL,
 CONSTRAINT [PK_ChatParticipant] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friend]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friend](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[FriendID] [bigint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[AddedAt] [datetime] NULL,
 CONSTRAINT [PK_Friend] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatID] [bigint] NOT NULL,
	[SenderID] [bigint] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[MessageType] [tinyint] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsEdited] [bit] NULL,
	[EditedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[DeletedAt] [datetime] NULL,
	[ReadBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[UserID] [bigint] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](2048) NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [varchar](10) NULL,
	[Email] [varchar](320) NULL,
	[Gender] [int] NULL,
	[Bio] [nvarchar](500) NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaction]    Script Date: 8/20/2025 5:43:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaction](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MessageID] [bigint] NOT NULL,
	[SenderID] [bigint] NOT NULL,
	[Emoji] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Reaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([UserID], [Username], [Password], [AccountType], [CreatedTime], [IsActive], [IsOnline], [LastSeen]) VALUES (1, N'lequanghuyst1@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', 1, CAST(N'2025-08-08T10:41:05.543' AS DateTime), 0, 1, CAST(N'2025-08-20T10:40:35.017' AS DateTime))
INSERT [dbo].[Account] ([UserID], [Username], [Password], [AccountType], [CreatedTime], [IsActive], [IsOnline], [LastSeen]) VALUES (2, N'hailt@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', 1, CAST(N'2025-08-14T14:56:55.430' AS DateTime), 0, 0, CAST(N'2025-08-20T09:47:56.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Chat] ON 

INSERT [dbo].[Chat] ([ID], [Type], [Title], [CreatedBy], [CreatedByName], [CreatedAt], [UpdatedBy], [UpdatedByName], [UpdatedAt], [IsDeleted]) VALUES (1, 2, N'Lê Huy', 1, N'Lê  Hải', CAST(N'2025-08-15T09:36:27.457' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Chat] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatParticipant] ON 

INSERT [dbo].[ChatParticipant] ([ID], [ChatID], [UserID], [Role], [JoinedAt]) VALUES (1, 1, 1, 2, CAST(N'2025-08-15T09:36:27.457' AS DateTime))
INSERT [dbo].[ChatParticipant] ([ID], [ChatID], [UserID], [Role], [JoinedAt]) VALUES (2, 1, 2, 2, CAST(N'2025-08-15T09:36:27.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChatParticipant] OFF
GO
SET IDENTITY_INSERT [dbo].[Friend] ON 

INSERT [dbo].[Friend] ([ID], [UserID], [FriendID], [Status], [AddedAt]) VALUES (1, 1, 2, 2, CAST(N'2025-08-15T08:41:17.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[Friend] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([ID], [ChatID], [SenderID], [Content], [MessageType], [CreatedAt], [IsEdited], [EditedAt], [IsDeleted], [DeletedAt], [ReadBy]) VALUES (1, 1, 1, N'helllo', 1, CAST(N'2025-08-16T03:18:21.057' AS DateTime), 0, NULL, 0, NULL, NULL)
INSERT [dbo].[Message] ([ID], [ChatID], [SenderID], [Content], [MessageType], [CreatedAt], [IsEdited], [EditedAt], [IsDeleted], [DeletedAt], [ReadBy]) VALUES (2, 1, 1, N'how are you', 1, CAST(N'2025-08-16T03:21:04.567' AS DateTime), 0, NULL, 0, NULL, NULL)
INSERT [dbo].[Message] ([ID], [ChatID], [SenderID], [Content], [MessageType], [CreatedAt], [IsEdited], [EditedAt], [IsDeleted], [DeletedAt], [ReadBy]) VALUES (3, 1, 1, N'oke', 1, CAST(N'2025-08-16T03:22:07.643' AS DateTime), 0, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
INSERT [dbo].[Profile] ([UserID], [FirstName], [LastName], [Avatar], [DateOfBirth], [Phone], [Email], [Gender], [Bio]) VALUES (1, N'Lê', N'Huy', NULL, NULL, NULL, N'lequanghuyst1@gmail.com', NULL, NULL)
INSERT [dbo].[Profile] ([UserID], [FirstName], [LastName], [Avatar], [DateOfBirth], [Phone], [Email], [Gender], [Bio]) VALUES (2, N'Lê ', N'Hải', NULL, NULL, NULL, N'hailt@gmail.com', NULL, NULL)
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF__Chat__Type__4F7CD00D]  DEFAULT ((1)) FOR [Type]
GO
ALTER TABLE [dbo].[Chat] ADD  CONSTRAINT [DF__Chat__CreatedAt__5165187F]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatParticipant] ADD  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Friend] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((1)) FOR [MessageType]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IsEdited]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reaction] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [CK__Chat__Type__5070F446] CHECK  (([Type]=(2) OR [Type]=(1)))
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [CK__Chat__Type__5070F446]
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_Authenticate]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Account_Authenticate] 
	@Username varchar(320),
	@Password char(32)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Account] WHERE Username = @Username AND Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Account_Create] 
	@Username nvarchar(50),
	@Password nvarchar(50),
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
    @AccountType int,
    @ResponseStatus int output,
    @ID bigint output
AS
BEGIN
	SET NOCOUNT ON;

    BEGIN
       BEGIN TRY
            BEGIN TRANSACTION

            DECLARE @Email nvarchar(50)
            DECLARE @Phone nvarchar(50)

            INSERT INTO [dbo].[Account]
            (Username, Password, CreatedTime, AccountType)
            VALUES
            (@Username, @Password, GETDATE(), @AccountType)

            SET @ID = SCOPE_IDENTITY()

            IF(@AccountType = 1)
            BEGIN
                SET @Email = @Username
            END
            ELSE
            BEGIN
                SET @Phone = @Username
            END
   
            INSERT INTO [dbo].[Profile] (UserID, FirstName,  LastName, Phone, Email)
            VALUES (@ID, @FirstName, @LastName, @Phone, @Email)

            SET @ResponseStatus = 1

            COMMIT TRANSACTION
       END TRY
       BEGIN CATCH
            ROLLBACK TRANSACTION
            SET @ResponseStatus = -99
       END CATCH 
    END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_GetById]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Account_GetById] 
	@ID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Account] WHERE UserID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_GetByUsername]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Account_GetByUsername] 
	@Username nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Account] WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_ResetPassword]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Account_ResetPassword]
    @UserID BIGINT,
    @Password NVARCHAR(32),
    @ResponseStatus INT OUTPUT
AS
BEGIN

	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Account]
		SET [Password] = @Password
		WHERE [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Account_Update]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Account_Update]
    @UserID BIGINT,
    @IsActive BIT,
    @IsOnline BIT,
    @LastSeen DATETIME,
    @ResponseStatus INT OUTPUT
AS
BEGIN

	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Account] WHERE [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Account]
		SET [IsActive] = @IsActive,
			[IsOnline] = @IsOnline,
			[LastSeen] = @LastSeen
		WHERE [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_Create]
    @Type TINYINT,
    @Title NVARCHAR(100),
    @CreatedBy BIGINT,
	@CreatedByName NVARCHAR(100),
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		INSERT INTO [dbo].[Chat] ([Type], [Title], [CreatedBy], [CreatedByName], [CreatedAt])
		VALUES (@Type, @Title, @CreatedBy, @CreatedByName, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_Delete]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Chat] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END
		BEGIN TRANSACTION
			DELETE FROM [dbo].[Reaction] WHERE [MessageID] IN (SELECT [ID] FROM [dbo].[Message] WHERE [ChatID] = @ID)
			DELETE FROM [dbo].[Message] WHERE [ChatID] = @ID
			DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ID
			DELETE FROM [dbo].[Chat] WHERE [ID] = @ID
		COMMIT TRANSACTION
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_GetById]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_GetById]
    @ID BIGINT
AS
BEGIN
	SELECT * FROM [dbo].[Chat] 
	WHERE [ID] = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_GetListByUserID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_GetListByUserID]
    @UserID BIGINT
AS
BEGIN
	SELECT c.* FROM [dbo].[Chat]  c
	INNER JOIN [dbo].[ChatParticipant] cp ON c.[ID] = cp.[ChatID] 
	WHERE cp.[UserID] = @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_Leave]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_Leave]
    @ChatID BIGINT,
    @UserID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chat_Update]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Chat_Update]
    @ID BIGINT,
    @Type TINYINT,
    @Title NVARCHAR(100),
    @UpdatedBy BIGINT,
	@UpdatedByName NVARCHAR(100),
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		UPDATE [dbo].[Chat]
		SET [Type] = @Type,
			[Title] = @Title,
			[UpdatedBy] = @UpdatedBy,
			[UpdatedByName] = @UpdatedByName,
			[UpdatedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChatParticipant_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChatParticipant_Create]
    @ChatID BIGINT,
    @UserID BIGINT,
    @Role TINYINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		INSERT INTO [dbo].[ChatParticipant] ([ChatID], [UserID], [Role], [JoinedAt])
		VALUES (@ChatID, @UserID, @Role, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChatParticipant_DeleteByChatID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_ChatParticipant_DeleteByChatID]
    @ChatID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChatParticipant_GetListByChatID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChatParticipant_GetListByChatID]
    @ChatID BIGINT
AS
BEGIN
	SELECT c.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [FullName],
		p.[Avatar] AS [Avatar]
	FROM 
	[dbo].[ChatParticipant] c
	INNER JOIN [dbo].[Profile] p ON c.[UserID] = p.[UserID] 
	WHERE c.[ChatID] = @ChatID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChatParticipant_Remove]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChatParticipant_Remove]
    @ChatID BIGINT,
    @UserID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		IF NOT EXISTS (SELECT 1 FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END
		
		DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID AND [UserID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Accept]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Accept]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

			DECLARE @FriendName NVARCHAR(100)
			
			SELECT @FriendName = CONCAT([FirstName], ' ', [LastName]) FROM [dbo].[Profile] WHERE [UserID] = @FriendID

			IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
			BEGIN
				SET @ResponseStatus = -1
				RETURN
			END

			UPDATE [dbo].[Friend]
				SET [Status] = 2
			WHERE [UserID] = @FriendID AND [FriendID] = @UserID

			INSERT INTO [dbo].[Chat] ([Type], [Title], [CreatedBy], [CreatedByName], [CreatedAt])
			VALUES (2, @FriendName, @FriendID, @Username, GETUTCDATE())

			DECLARE @ChatID BIGINT
			SET @ChatID = SCOPE_IDENTITY()

			INSERT INTO [dbo].[ChatParticipant] ([ChatID], [UserID], [Role], [JoinedAt])
			VALUES (@ChatID, @FriendID, 2, GETUTCDATE()),
					(@ChatID, @UserID, 2, GETUTCDATE())

			SET @ResponseStatus = 1
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Add]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Add]
    @UserID BIGINT,
    @FriendID BIGINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		INSERT INTO [dbo].[Friend] ([UserID], [FriendID], [Status], [AddedAt])
		VALUES (@UserID, @FriendID, 1, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Block]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Block]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendBlockStatus INT = 4
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
			SET [Status] = @FriendBlockStatus
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Create]
    @UserID BIGINT,
    @FriendID BIGINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY

		INSERT INTO [dbo].[Friend] ([UserID], [FriendID], [Status], [AddedAt])
		VALUES (@UserID, @FriendID, 1, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Delete]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Delete]
    @UserID BIGINT,
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @FriendID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END
		
		DECLARE @ChatID BIGINT

		-- Select chat riêng của 2 người
		SELECT @ChatID = cp.[ChatID]
		FROM [dbo].[ChatParticipant] cp
		JOIN [dbo].[Chat] c ON c.[ID] = cp.[ChatID]
		WHERE c.[Type] = 1 
		AND cp.[ChatID] IN (SELECT ChatID FROM [dbo].[ChatParticipant] WHERE [UserID] = @FriendID)
		AND cp.[ChatID] IN (SELECT ChatID FROM [dbo].[ChatParticipant] WHERE [UserID] = @UserID)
		GROUP BY cp.[ChatID]
		HAVING COUNT(DISTINCT cp.[UserID]) = 2;

		IF @ChatID IS NOT NULL
		BEGIN
			ROLLBACK TRANSACTION
			SET @ResponseStatus = -1
			RETURN
		END

		BEGIN TRANSACTION
			DELETE FROM [dbo].[Reaction] WHERE [MessageID] IN (SELECT [ID] FROM [dbo].[Message] WHERE [ChatID] = @ChatID)
			DELETE FROM [dbo].[Message] WHERE [ChatID] = @ChatID
			DELETE FROM [dbo].[ChatParticipant] WHERE [ChatID] = @ChatID
			DELETE FROM [dbo].[Chat] WHERE [ID] = @ChatID
			DELETE FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @FriendID
		COMMIT TRANSACTION

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_GetListByUserID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_GetListByUserID]
    @UserID BIGINT
AS
BEGIN
	SELECT 
		f.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [FriendName],
		p.[Avatar] AS [FriendAvatar]
	FROM 
	[dbo].[Friend] f
	INNER JOIN [dbo].[Profile] p ON f.[FriendID] = p.[UserID] 
	WHERE (f.[UserID] = @UserID OR f.[FriendID] = @UserID) AND f.[Status] = 2
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_GetListRequest]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_GetListRequest]
    @UserID BIGINT
AS
BEGIN
	SELECT 
		f.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [FriendName],
		p.[Avatar] AS [FriendAvatar]
	FROM 
	[dbo].[Friend] f
	INNER JOIN [dbo].[Profile] p ON f.[FriendID] = p.[UserID] 
	WHERE f.[FriendID] = @UserID AND f.[Status] = 1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Reject]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Reject]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendRejectStatus INT = 3
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
			SET [Status] = @FriendRejectStatus
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Friend_Unblock]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Friend_Unblock]
    @UserID BIGINT,
	@Username NVARCHAR(320),
    @FriendID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @FriendNotExists INT = -1
		DECLARE @FriendUnblockStatus INT = 1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Friend] WHERE [UserID] = @FriendID AND [FriendID] = @UserID)
		BEGIN
			SET @ResponseStatus = @FriendNotExists
			RETURN
		END

		UPDATE [dbo].[Friend]
			SET [Status] = @FriendUnblockStatus
		WHERE [UserID] = @FriendID AND [FriendID] = @UserID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Message_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Message_Create]
    @ChatID BIGINT,
    @SenderID BIGINT,
    @Content NVARCHAR(MAX),
    @MessageType TINYINT,
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 

		INSERT INTO [dbo].[Message] ([ChatID], [SenderID], [Content], [MessageType], [CreatedAt])
		VALUES (@ChatID, @SenderID, @Content, @MessageType, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Message_Delete]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Message_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Message] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Message]
		SET
			[IsDeleted] = 1,
			[DeletedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Message_GetListByChatID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Message_GetListByChatID]
    @ChatID BIGINT,
	@Page INT,
	@PageSize INT,
    @TotalRec INT OUTPUT
AS
BEGIN
   	SELECT @TotalRec = COUNT(*) FROM [dbo].[Message] WHERE [ChatID] = @ChatID

		DECLARE @Offset INT = (@Page - 1) * @PageSize;

		;WITH OrderedMessages AS
		(
			SELECT 
				m.*,
				CONCAT(p.[FirstName], ' ', p.[LastName]) AS [SenderName],
				p.[Avatar] AS [SenderAvatar]
			FROM [dbo].[Message] m
			INNER JOIN [dbo].[Profile] p ON m.[SenderID] = p.[UserID]
			WHERE m.[ChatID] = @ChatID
			ORDER BY m.[CreatedAt] DESC   -- mới nhất trước
			OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY
		)
		SELECT *
		FROM OrderedMessages
		ORDER BY CreatedAt ASC;  -- đảo lại để render UI từ cũ -> mới
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Message_Update]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Message_Update]
    @ID BIGINT,
    @Content NVARCHAR(MAX),
    @MessageType TINYINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Message] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Message]
		SET [Content] = @Content,
			[MessageType] = @MessageType,
			[IsEdited] = 1,
			[EditedAt] = GETUTCDATE()
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Profile_GetById]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Profile_GetById] 
	@ID BIGINT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Profile] WHERE UserID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Profile_GetUserList]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Profile_GetUserList]
    @Keyword NVARCHAR(255),
    @UserID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM [dbo].[Profile]
    WHERE (@Keyword = '' OR FirstName LIKE '%' + @Keyword + '%' OR LastName LIKE '%' + @Keyword + '%') AND UserID != @UserID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Reaction_Create]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Reaction_Create]
    @MessageID BIGINT,
    @SenderID BIGINT,
    @Emoji NVARCHAR(10),
    @ID BIGINT OUTPUT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		INSERT INTO [dbo].[Reaction] ([MessageID], [SenderID], [Emoji], [CreatedAt])
		VALUES (@MessageID, @SenderID, @Emoji, GETUTCDATE())

		SET @ID = SCOPE_IDENTITY()
		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Reaction_Delete]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Reaction_Delete]
    @ID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		DELETE FROM [dbo].[Reaction] WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Reaction_DeleteByMessageID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Reaction_DeleteByMessageID]
    @MessageID BIGINT,
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		DECLARE @ReactionNotExists INT = -1
		DECLARE @ReactionDeleteSuccess INT = 1
		
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [MessageID] = @MessageID)
		BEGIN
			SET @ResponseStatus = @ReactionNotExists
			RETURN
		END

		DELETE FROM [dbo].[Reaction] WHERE [MessageID] = @MessageID

		SET @ResponseStatus = @ReactionDeleteSuccess
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Reaction_GetListByMessageID]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Reaction_GetListByMessageID]
    @MessageID BIGINT
AS
BEGIN
	SELECT 
		r.*,
		CONCAT(p.[FirstName], ' ', p.[LastName]) AS [SenderName],
		p.[Avatar] AS [SenderAvatar]
	FROM 
	[dbo].[Reaction] r
	INNER JOIN [dbo].[Profile] p ON r.[SenderID] = p.[UserID] 
	WHERE r.[MessageID] = @MessageID
	ORDER BY r.[CreatedAt] ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Reaction_Update]    Script Date: 8/20/2025 5:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Reaction_Update]
    @ID BIGINT,
    @SenderID BIGINT,
    @Emoji NVARCHAR(10),
    @ResponseStatus INT OUTPUT
AS
BEGIN
	BEGIN TRY 
		IF NOT EXISTS (SELECT 1 FROM [dbo].[Reaction] WHERE [ID] = @ID)
		BEGIN
			SET @ResponseStatus = -1
			RETURN
		END

		UPDATE [dbo].[Reaction]
			SET [Emoji] = @Emoji
		WHERE [ID] = @ID

		SET @ResponseStatus = 1
	END TRY
	BEGIN CATCH
		SET @ResponseStatus = -99
	END CATCH
END
GO
